body {
    text-align: center;
    background-color: rgb(110, 189, 32);
    color: rgb(21, 47, 48);
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}